//- Shows about text
extends layout

block title
  title About Node Runner

block heading
  h1 Welcome to Node Runner
  p This is NodeRunner, a small Node.js app for running native host commands and returning the output to the client browser.
  p The app is designed to be reasonably secure and you will need a login in order to run anything or see any output.

block message
  p= message
